/* =========================================================
body
========================================================= */

@import url("https://fonts.googleapis.com/css2?family=Epilogue&display=swap");
html {
  letter-spacing: 0.03em;
  /* line-height: 1.3rem; */
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "游ゴシック体", "Yu Gothic", YuGothic, Meiryo, メイリオ, "Noto Sans JP", sans-serif;
  background-color: #a600ff;
  background: repeating-linear-gradient( to top,rgba(255,255,255,0.03) 0px 2px,transparent 2px 4px ),linear-gradient(to bottom,#200933 75%,#3d0b43);
  /* background: repeating-linear-gradient( to top,rgba(255,255,255,0.03) 0px 2px,transparent 2px 4px ),linear-gradient(to bottom,#ff8200 75%,#000000); */
  /* background-size: 20px 2px; */
  background-size: 20px 5px;
}

img {
  width: 100%;
}

/* =========================================================
header
========================================================= */

.head {
  width: 100%;
  position: fixed;
  background-color: #000000;
  display: block;
  z-index: 1;
}

.head_wrap { /* ヘッダーの内包部 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.logo {
  width: 100px;
  padding-top: 7px;
  padding-left: 10px;
}

.global-nav {
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav_toggle-menu {
  background: rgb(240, 103, 255);
  position: absolute;
  right: 2rem;
  top: 21.5px;
}

a {
  text-decoration: none;
}

span {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

.nav_menu a {
  display: block;
  padding: 1rem 1.25rem;
  border-left: 4px solid transparent;
}

.nav_menu.active a {
  border-left-color: #222;
}

@media screen and (min-width: 940px) {
  .head {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #000000;
  }

  .logo {
    width: 200px;
    padding-left: 20px;
  }

  .nav_toggle-menu {
    display: none;
  }

  .nav_wrap { /* ナビの内包部 */
    display: flex;
    justify-content: center;
  }

  .nav_menu { /* ナビの一覧 */
    min-width: 140px;
  }

  .nav_menu a {
    text-align: center;
    border-bottom: 4px solid transparent;
  }

  .nav_menu.active a {
    border-bottom-color: #222;
  }
}

@media (max-width: 939px) {
  .nav_wrap { /* ナビの内包部 */
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #000000;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }

  .nav_wrap.active { /* ナビのアクティベーション */
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

/* =========================================================
animation
========================================================= */

.snow { /* 雪の色とループ */
  position: fixed;
  background-color: #fff; /* 色 */
  border-radius: 50%; /* 雪の形を丸にする */
  animation: animate-snow 20s linear; /* アニメーションでループ */
}

@keyframes animate-snow { /* 画面からの降り始めと画面から消える時の設定 */
  0% {
    top: 0;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 100vh;
  }
}

/* =========================================================
neon
========================================================= */

x-sign {
  --interval: 3s;
  display: block;
  text-shadow:
    0 0 10px var(--color1),
    0 0 20px var(--color2),
    0 0 40px var(--color3),
    0 0 80px var(--color4);
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 1s infinite;
}

x-sign {
  font-weight: bold;
  font-size: 25px;
  margin: 20px auto;
  color: yellow;
  --color1: yellow;
  --color2: lime;
  --color3: green;
  --color4: darkgreen;
  font-family: Monoton;
}

@keyframes flicker {
  50% {
    color: white;
    filter: saturate(200%) hue-rotate(20deg);
  }
}

@media screen and (min-width: 769px) {
  x-sign {
    --interval: 1s;
    display: block;
    text-shadow:
      0 0 10px var(--color1),
      0 0 20px var(--color2),
      0 0 40px var(--color3),
      0 0 80px var(--color4);
    will-change: filter, color;
    filter: saturate(60%);
    animation: flicker steps(100) var(--interval) 1s infinite;
  }
  x-sign {
    font-weight: bold;
    font-size: 30px;
    margin: 20px auto 30px;
    color: yellow;
    --color1: yellow;
    --color2: lime;
    --color3: green;
    --color4: darkgreen;
    font-family: Monoton;
  }

  @keyframes flicker {
    50% {
      color: white;
      filter: saturate(200%) hue-rotate(20deg);
    }
  }
}

/* =========================================================
main
========================================================= */

main {
  padding-top: 35px;
  overflow: hidden;
}

.introduction {
  margin: 10% auto 0;
  width: 100%;
  /* padding: 0 0 20vw; */
  position: relative;
}

.introduction p {
  color: #fff;
  font-size: 10px;
  line-height: 1.8;
  text-align: center;
  font-weight: bold;
}

.hero {
  max-width: 800px;
  margin: 5vw auto 0vw;
}

.hero .map {
  margin: 0 auto;
  width: 92%;
}

@media screen and (min-width: 769px) {
  main {
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
  }

  .introduction {
    margin: -60px auto -30px;
    padding: 55px 0 5px;
  }

  .introduction p {
    line-height: 2.2;
    font-size: 15px;
    font-weight: bold;
  }

  .hero {
    margin: 75px auto 5px;
  }

  .hero .map {
    width: 666px;
  }
}

/* =========================================================
information button
========================================================= */

marquee {
  color: rgb(255 255 255);
  background-color: rgb(155 0 255 / 0.5);
  margin-top: 10px;
  padding: 8px;
  font-weight: bold;
  font-size: 15px;
}
@media screen and (min-width: 769px) {
  marquee {
    color: rgb(255 255 255);
    background-color: rgb(155 0 255 / 0.5);
    margin-top: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
  }
}
.contentButton {
  font-weight: bold;
  text-align: center;
  margin: auto;
  justify-content: space-evenly;
  position: relative;
}

@media screen and (min-width: 769px) {
  .contentButton {
    text-align: center;
    margin: auto;
    justify-content: space-evenly;
    position: relative;
  }
}

.btn-play-info {
  font-weight: bold;
  font-size: 13px;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background-color: #00bde3;
  box-shadow: 0px 0px 0px 2px #0a0a0a;
  color: #fff;
  border: solid 2px #017c92;
  border-top: solid 2px #bdf4ff;
}
.btn-play-info:hover {
  background-color: #00d4ff;
}
.btn-play-info:active {
  box-shadow: 0px 0px 0px 2px #fff;
}

@media screen and (min-width: 769px) {
  .btn-play-info {
    font-weight: bold;
    font-size: 13px;
    display: inline-block;
    padding: 0.5em 8em;
    text-decoration: none;
    background-color: #00bde3;
    box-shadow: 0px 0px 0px 2px #0a0a0a;
    color: #fff;
    border: solid 2px #017c92;
    border-top: solid 2px #bdf4ff;
  }
}

.btn-play-form {
  font-weight: bold;
  font-size: 13px;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background-color: #673ab7;
  box-shadow: 0px 0px 0px 2px #0a0a0a;
  color: #fff;
  border: solid 2px #563096;
  border-top: solid 2px #bc96ff;
}

.btn-smile {
  font-weight: bold;
  font-size: 13px;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background-color: rgb(1, 211, 189);
  color: #ffffff;
  border: solid 2px rgb(0, 159, 143);
  border-top: solid 2px rgb(203, 255, 250);
  top:-20%;
  right:-20%;
  bottom:-20%;
  left:-20%;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  /* overflow: hidden; */
  /* box-shadow: 0px 0px 20px 2px rgba(255,184,78,.6), 0px 0px 30px 2px rgba(1, 211, 189,.4); 金色仕上げ */
  box-shadow: 0px 0px 20px 2px rgba(1, 211, 189, 0.6), 0px 0px 30px 2px rgba(1, 211, 189, 0.5);
  animation-name: rotate;
  animation-duration: s; /* アニメーション周期所要時間。単位は秒(s)またはミリ秒(ms) */
  animation-timing-function: linear;
  animation-iteration-count: infinite; /* 無限に繰り返す */
  animation-direction: normal; /* reverse => 逆方向 | normal => 順方向 */
  animation-play-state: running;
}
@keyframes rotate {
  to {
    transform: rotate(10turn);
  }
}

.btn-play-form:hover {
  background-color: #673ab7;
}
.btn-play-form:active {
  box-shadow: 0px 0px 0px 2px #fff;
}

@media screen and (min-width: 769px) {
  .btn-play-form {
    font-weight: bold;
    font-size: 13px;
    display: inline-block;
    padding: 0.5em 8em;
    text-decoration: none;
    background-color: #673ab7;
    box-shadow: 0px 0px 0px 2px #0a0a0a;
    color: #fff;
    border: solid 2px #563096;
    border-top: solid 2px #bc96ff;
  }
  .btn-smile {
    font-weight: bold;
    font-size: 13px;
    display: inline-block;
    padding: 0.5em 8em;
    text-decoration: none;
    background-color: rgb(1, 211, 189);
    color: #ffffff;
    border: solid 2px rgb(0, 159, 143);
    border-top: solid 2px rgb(203, 255, 250);
    top:-20%;
    right:-20%;
    bottom:-20%;
    left:-20%;
    -webkit-mask-size: 100%;
    mask-size: 100%;
    /* overflow: hidden; */
    /* box-shadow: 0px 0px 20px 2px rgba(255,184,78,.6), 0px 0px 30px 2px rgba(1, 211, 189,.4); 金色仕上げ */
    box-shadow: 0px 0px 20px 2px rgba(1, 211, 189, 0.6), 0px 0px 30px 2px rgba(1, 211, 189, 0.5);
    animation-name: rotate;
    animation-duration: s; /* アニメーション周期所要時間。単位は秒(s)またはミリ秒(ms) */
    animation-timing-function: linear;
    animation-iteration-count: infinite; /* 無限に繰り返す */
    animation-direction: normal; /* reverse => 逆方向 | normal => 順方向 */
    animation-play-state: running;
  }
}

article {
  padding: 7% 0;
}

@media screen and (min-width: 769px) {
  article {
    padding: 3% 0;
  }
}

/* =========================================================
storeList
========================================================= */


.line-break {
  display: block; /* 画面サイズによって改行の有無を変更可能 ※「none」で無効化*/
}

.line-break_reverse {
  display: none; /* 改行を無効化 */
}

@media screen and (min-width: 769px) {
  .line-break {
    display: none; /* 改行を無効化 */
  }

  .line-break_reverse {
    display: block; /* 改行を有効化 */
  }
}

.storeList {
  display: flex;
  flex-wrap: wrap;
}
.storeList li {
  margin-right: 4.348%;
  margin-bottom: 7vw;
  width: 47.826%;
}
.storeList li:nth-child(2n) {
  margin-right: 0;
}
.storeList li a {
  display: block;
  text-decoration: none;
}
.storeList li a:hover {
  opacity: 0.8;
}
.storeList li dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 7px 0;
}
.storeList li dl dt {
  color: #fff; /* 通常 */
  /* color: orange; */ /* ハロウィン仕様 */
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 3px;
  text-align: center;
  width: 100%;
  font-weight: bold;
}
.storeList li dl dd {
  background-color: #0000ff;
  color: #fff;
  font-size: 11px;
  margin: 0 4px 4px 0;
  padding: 5px 10px;
}
.ddd {
  background-color: #ff0000;
  color: #fff;
  font-size: 11px;
  margin: 0 4px 4px 0;
  padding: 5px 10px;
}
.update {
  background-color: #1bca00;
  color: #fff;
  font-size: 11px;
  margin: 0 4px 4px 0;
  padding: 5px 10px;
}

/* 通常 */
.cm-s-default {
  color: white;
  text-shadow: 0 0 2px #100c0f,0 0 35px #ffffff44,0 0 5px white,0 0 2px white;
}

code[class] {
  color: white;
  text-shadow: 0 0 2px #100c0f,0 0 35px #ffffff44,0 0 5px white,0 0 2px white;
}

/* ハロウィン仕様 */
/* .cm-s-default {
  color: rgb(255, 123, 0);
  text-shadow: 0 0 20px rgb(255, 123, 0),0 0 35px rgb(255, 123, 0),0 0 5px rgb(255, 123, 0),0 0 50px darkorange;
}
code[class] {
  color: rgb(255, 123, 0);
  text-shadow: 0 0 20px rgb(255, 123, 0),0 0 35px rgb(255, 123, 0),0 0 5px rgb(255, 123, 0),0 0 50px darkorange;
} */

@media screen and (min-width: 769px) {
  .storeList li {
    margin-bottom: 25px;
  }
  .storeList li dl {
    padding: 5px 7px 0;
  }
  .storeList li dl dt {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .storeList li dl dd {
    padding: 6px 12px 5px;
  }
}

/* =========================================================
storeArea
========================================================= */

.storeArea {
  max-width: 92%;
  margin: 0 auto;
}

@media screen and (min-width: 769px) {
  .storeArea {
    max-width: 1080px;
    margin: 0 auto;
  }
  .storeArea .storeList li {
    margin-right: 0.925%;
    width: 19.26%;
  }
  .storeArea .storeList li:nth-child(5n) {
    margin-right: 0;
  }
}

/* =========================================================
footer
========================================================= */

footer {
  padding: 8px 0 30px;
  text-align: center;
}
footer .copy {
  color: #fff;
  font-family: 'Epilogue', sans-serif;
  font-size: 14px;
}